/* Responsive Css */

@media only screen and (max-width: 1699px){

  .amenities-section .pointers-block{
    display: none;
  }

  .amenities-section{
    padding: 0px;
  }

  .amenities-section .col-lg-4.col-md-6.col-sm-12.single-column{
    display: none;
  }

  .amenities-section .single-column{
    width: 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .funfact-section .shape,
  .chooseus-section .pattern-layer{
    display: none;
  }

}

@media only screen and (max-width: 1499px){

  .banner-section{
    padding: 0px;
  }

  .header-top{
    padding: 10px 30px;
  }

  .main-header .outer-box{
    padding: 0px 30px;
  }

  .main-menu .navigation > li{
    margin: 15px 12px;
  }

  .workspace-section{
    padding: 0px;
  }

  .workspace-section .single-item .inner-box .link{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }

  .workspace-section .single-column:last-child .inner-box .link{
    right: 0px;
  }

  .workspace-section .single-item .inner-box .icon-box{
    left: 15px;
  }

  .workspace-section .single-item .inner-box{
    padding-left: 130px;
  }

  .banner-style-two .outer-container{
    padding: 0px 15px;
  }

  .banner-style-two .inner-content{
    margin-left: 0px;
  }

  .banner-style-two .inner-content .shape{
    display: none;
  }

  .funfact-section.alternat-2,
  .chooseus-section{
    padding: 0px;
  }

  .pricing-style-two,
  .find-section{
    padding: 0px;
  }

  .pricing-block-two .pricing-table .price{
    position: relative;
    top: 0px;
    right: 0px;
    margin-bottom: 20px;
  }

}


@media only screen and (max-width: 1399px){

  

}


@media only screen and (max-width: 1200px){

  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
    margin-top: 25px;
  }

  .megamenu ul li:first-child{
    display: none;
  }

  .header-top .top-left,
  .header-top .right-column{
    float: none;
    text-align: center;
  }

  .header-top .social-links, .header-top .info,
  .header-top .right-column ul{
    float: none;
    display: inline-block;
  }

  .main-header .outer-box .info-list{
    display: none;
  }

  .main-header .outer-box{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-lower .menu-area{
    display: none;
  }

  .amenities-section .single-item .text{
    background: transparent;
    width: auto;
  }

  .ourcenters-section .outer-container{
    padding: 0px;
  }

  .ourcenters-section .owl-nav{
    left: 15px;
  }

  .pricing-block-one .pricing-table .theme-btn{
    padding: 16px 20px;
  }

  .project-section .outer-container{
    padding: 0px 15px;
  }

  .small-column .project-block-one .inner-box .content-box .text h3,
  .small-column .project-block-one .inner-box .content-box .link a{
    font-size: 14px;
    line-height: 20px;
  }

  .small-column .project-block-one .inner-box .content-box .link a i{
    font-size: 16px;
    top: 2px;
  }

  .team-block-one .inner-box .content-box .lower-content .signature,
  .team-block-one .inner-box .content-box .lower-content .list{
    float: none;
    display: block;
  }

  .team-block-one .inner-box .content-box .lower-content .signature{
    margin-bottom: 15px;
  }

  .testimonial-section{
    padding: 0px;
  }

  .clients-section{
    padding: 0px;
  }

  .news-block-one .inner-box .lower-content .option-box .admin,
  .news-block-one .inner-box .lower-content .option-box .share{
    margin-bottom: 15px;
  }

  .booking-section,
  .cta-section,
  .video-section,
  .testimonial-style-two{
    padding: 0px;
  }

  .find-section .inner-box .list li{
    width: 50%;
  }

  .find-section .inner-box .list li{
    margin-bottom: 15px;
  }

  .find-section .inner-box .list li:nth-child(3),
  .find-section .inner-box .list li:nth-child(2){
    padding-left: 0px;
  }

  .find-section .inner-box .list li .single-item:before,
  .find-section .inner-box .list li .single-item:after{
    display: none;
  }

  .find-section .inner-box .list li .btn-box{
    text-align: left;
  }

  .find-section .outer-container{
    padding-bottom: 95px;
  }

  .page-title,
  .chooseus-style-two,
  .service-level-section{
    padding: 0px;
  }

  .events-section .pattern-layer{
    display: none;
  }

  .project-style-four{
    padding-left: 15px;
    padding-right: 15px;
  }

  .project-details-content .project-info ul li:before{
    display: none;
  }

  .comingsoon-section,
  .funfact-section.locations-page-1{
    padding: 0px;
  }

  .error-section{
    padding-left: 0px;
    padding-right: 0px;
  }

  .error-section{
    padding: 0px;
  }

  .error-section .outer-container .content-box .bg-layer{
    width: calc(100% + 30px);
    left: -15px;
    height: 100%;
    border-radius: 0px;
    top: 0px;
  }

  .center-block-one .inner-box .text h2{
    font-size: 55px;
    line-height: 55px;
  }

  .center-block-one .inner-box .text{
    bottom: 3px;
  }

  .workspaces-details .carousel-outer{
    padding: 0px;
  }

  .news-block-two .inner-box .lower-box .post-date,
  .news-block-two .inner-box .lower-box .link{
    float: none;
    display: block;
  }

  .news-block-two .inner-box .lower-box .link{
    margin-left: 10px;
  }

  .blog-details .post-banner{
    padding-left: 0px;
    padding-right: 0px;
  }

  .blog-details-content .author-box .more-btn{
    position: relative;
    right: 0px;
    bottom: 0px;
    margin-top: 15px;
  }

  .contact-section .inner-box{
    padding-left: 0px;
  }
  
  .contact-section .inner-box .image-box{
    position: relative;
  }

  .about-style-two:before{
    width: 100%;
    left: 0px;
  }

  .workspace-section .outer-container{
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .team-block-one .inner-box .content-box .lower-content{
    padding-bottom: 15px;
  }


}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){

  .amenities-section .single-column{
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .banner-carousel .owl-nav{
    display: none;
  }

  .service-block-one .inner-box{
    margin-bottom: 30px;
  }

  .service-section{
    padding-bottom: 80px;
  }

  .image_block_1 .image-box{
    margin-bottom: 30px;
  }

  .project-tab .tab-btn-box .p-tab-btn{
    margin-bottom: 30px;
  }

  .workspaces-section .sec-title .btn-box{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }

  .pricing-block-one .pricing-table{
    margin-bottom: 30px;
  }

  .pricing-section .pattern-layer{
    display: none;
  }

  .pricing-section{
    padding-bottom: 80px;
  }

  .project-block-one .inner-box .content-box .text h3{
    font-size: 22px !important;
    line-height: 30px !important;
  }

  .project-section{
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-block-one .inner-box{
    margin-bottom: 30px;
  }

  .team-section{
    padding-bottom: 80px;
  }

  .testimonial-section .owl-nav{
    display: none;
  }

  .news-block-one .inner-box{
    margin-bottom: 30px;
  }

  .news-section{
    padding-bottom: 80px;
  }

  .counter-block-one .inner-box{
    margin-bottom: 30px;
  }

  .funfact-section{
    padding-bottom: 80px;
  }

  .counter-block-one .inner-box:before{
    display: none;
  }

  .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .main-footer .widget-section{
    padding-bottom: 53px;
  }

  .banner-style-two .content-box{
    margin-bottom: 30px;
  }

  .banner-style-two .workspaces-block:last-child .workspaces-block-two:first-child{
    margin-top: 0px;
  }

  .amenities-section .line-box{
    display: none;
  }

  .weare-section .image-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .pricing-block-two .pricing-table{
    margin-bottom: 30px;
  }

  .clients-style-two .logo-list li{
    width: 50%;
    border: none !important;
  }

  .clients-style-two .logo-list:before{
    display: none;
  }

  .about-style-two .image-box{
    margin-bottom: 30px;
  }

  .about-style-three .image-box{
    margin-bottom: 30px;
  }

  .service-block-two .inner-box{
    margin-bottom: 30px;
  }

  .service-style-two{
    padding-bottom: 80px;
  }

  .events-block-one .inner-box{
    padding-right: 0px;
  }

  .events-block-one .inner-box .image-box{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .events-block-one .inner-box .content-box .inner{
    padding-left: 0px;
  }

  .events-block-one .inner-box .content-box .inner .date{
    position: relative;
    margin-bottom: 15px;
  }

  .project-style-five{
    padding-left: 0px;
    padding-right: 0px;
  }

  .project-details-content .project-info ul li{
    width: 50%;
    margin-bottom: 15px;
  }

  .project-details-content .project-info{
    padding-bottom: 15px;
  }

  .project-details-content .nav-btn .nav-icon{
    display: none;
  }

  .project-details-content .project-block-one .inner-box{
    margin-bottom: 30px;
  }

  .project-details{
    padding-bottom: 80px;
  }

  .faq-sidebar{
    margin-bottom: 30px;
  }

  .comingsoon-section .content-box .cs-countdown .count-col{
    margin-bottom: 30px;
  }

  .comingsoon-section .content-box .cs-countdown .count-col:last-child{
    margin-bottom: 0px;
  }

  .comingsoon-section .subscribe-inner .text{
    margin-bottom: 15px;
  }

  .about-location .image-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .workspaces-sidebar{
    margin-bottom: 30px;
  }

  .workspaces-details-content .details-content-box .content-two .feature-list li{
    padding-left: 90px;
  }

  .workspaces-block-two .inner-box{
    margin-bottom: 30px;
  }

  .workspaces-details{
    padding-bottom: 80px;
  }

  .blog-classic-content,
  .blog-list-content{
    margin-bottom: 50px;
  }

  .contact-section .info-inner .single-item{
    margin-bottom: 15px;
  }

  .contact-section .info-inner .single-item:before{
    display: none;
  }

  .contact-section{
    padding-bottom: 90px;
  }

  .project-section .sec-title .btn-box{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }

  .workspaces-details .carousel-outer .owl-nav{
    display: none;
  }

  .blog-details-content{
    margin-bottom: 30px;
  }

}


@media only screen and (max-width: 767px){

	.kodesk-comment-item > .kodesk-comment-item {
		margin-left:0px;
	}

  .sec-pad{
    padding: 70px 0px 70px 0px;
  }

  .news-block-two .inner-box{
    padding-left: 0px;
    min-height: auto;
  }

  .news-block-two .inner-box .image-box{
    position: relative;
  }

  .news-block-two .inner-box .content-box{
    border-left: none;
  }

  .amenities-section .single-column{
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .header-top .social-links{
    display: none;
  }

  .workspace-section{
    text-align: center;
  }

  .workspace-section .single-item .inner-box{
    display: inline-block;
    text-align: left;
  }

  .workspace-section .single-item .inner-box:before{
    display: none;
  }

  .service-section{
    padding-bottom: 40px;
  }

  .sec-title h2{
    font-size: 36px;
    line-height: 46px;
  }

  .banner-carousel .content-inner h1{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-carousel .content-inner h1{
    font-size: 30px;
    line-height: 40px;
  }

  .sec-title{
    margin-bottom: 30px;
  }

  .center-block-one .inner-box .text{
    bottom: 30px;
  }

  .workspaces-section .dots-style-one .owl-dots{
    display: none;
  }

  .amenities-section .single-column:before{
    display: none;
  }

  .pricing-section{
    padding-bottom: 40px;
  }

  .team-section,
  .news-section{
    padding-bottom: 40px;
  }

  .funfact-section{
    padding: 70px 0px 40px 0px;
  }

  .cta-section .outer-container{
    padding: 70px 0px;
  }

  .footer-bottom .copyright,
  .footer-bottom .footer-nav{
    float: none;
    display: block;
    text-align: center;
  }

  .footer-bottom .copyright{
    margin-bottom: 5px;
  }

  .footer-bottom .footer-nav li{
    float: none;
  }

  .banner-style-two .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-two{
    padding-top: 150px;
  }

  .workspaces-block-two .more-btn{
    text-align: left !important;
    margin-bottom: 35px;
  }

  .banner-style-two{
    padding-bottom: 70px;
  }

  .service-style-two{
    padding: 70px 0px 40px 0px;
  }

  .service-style-two .owl-dots{
    display: none;
  }

  .video-section .big-text{
    font-size: 100px;
    line-height: 100px;
  }

  .ourcenters-style-two,
  .weare-section,
  .events-section{
    padding: 70px 0px;
  }

  .ourcenters-style-two .owl-dots{
    display: none;
  }

  .funfact-section .outer-container{
    padding: 70px 0px 50px 0px;
  }

  .chooseus-section .outer-container{
    padding: 70px 0px 20px 0px;
  }

  .events-section .upper-box .link{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
    text-align: left;
  }

  .events-section .upper-box .list li{
    margin-right: 20px;
  }

  .page-title .outer-container{
    padding: 100px 0px;
  }

  .page-title h1{
    font-size: 40px;
    line-height: 50px;
  }

  .about-style-two,
  .statements-section{
    padding: 70px 0px;
  }

  .statements-section .upper-box .single-item{
    padding-top: 30px;
    padding-bottom: 20px;
    border: none;
    width: 100%;
  }

  .statements-section .lower-box .single-item{
    width: 100%;
    border: none;
  }

  .chooseus-style-two .outer-container{
    padding: 70px 0px 20px 0px;
  }

  .team-section.about-page{
    padding: 70px 0px 40px 0px;
  }

  .about-style-three{
    padding: 70px 0px;
  }

  .clients-style-two,
  .events-style-two{
    padding: 70px 0px;
  }

  .cta-section .inner-box h2{
    font-size: 36px;
    line-height: 46px;
  }

  .events-details,
  .project-style-two,
  .project-style-three{
    padding: 70px 0px;
  }

  .events-details .share-option .share-links li{
    margin-bottom: 10px;
  }

  .events-details .share-option{
    margin-bottom: 40px;
  }

  .project-style-four,
  .project-style-five,
  .project-section,
  .project-details{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .project-details-content .upper-image .image{
    margin-bottom: 30px;
  }

  .project-details-content .upper-image{
    margin-bottom: 20px;
  }

  .project-details-content .nav-btn .single-btn-box.prev-btn{
    margin-bottom: 30px;
  }

  .project-details{
    padding-bottom: 40px;
  }

  .about-location{
    padding: 70px 0px;
  }

  .ourcenters-section.locations-page-1,
  .ourcenters-style-two.locations-page-2{
    padding: 70px 0px 40px 0px;
  }

  .testimonial-style-two .outer-container{
    padding: 90px 0px 70px 0px;
  }

  .find-section .outer-container .shape{
    display: none;
  }

  .find-section .outer-container{
    padding: 70px 0px 55px 0px;
  }

  .workspaces-page-section{
    padding: 65px 0px 40px 0px;
  }

  .workspaces-details-content{
    padding: 70px 0px 60px 0px;
  }

  .workspaces-details-content .details-content-box .content-two .feature-list li{
    width: 100%;
    border: none !important;
  }

  .workspaces-details-content .details-content-box .content-three .feature-list li{
    width: 50%;
    border: none !important;
  }

  .workspaces-details-content .details-content-box .content-three .feature-list{
    border: none;
  }

  .workspaces-details-content .tabs-box .tab-btns{
    margin-left: 0px;
  }

  .workspaces-details-content .tabs-box .tab-btns li{
    padding: 17px 35px;
  }

  .workspaces-details{
    padding-bottom: 40px;
  }

  .news-block-one .inner-box .lower-content .lower-box .info,
  .news-block-one .inner-box .lower-content .lower-box .link{
    float: none;
    display: block;
  }

  .news-block-one .inner-box .lower-content .lower-box .link{
    margin-left: 10px;
  }

  .news-block-two .inner-box .image-box{
    width: 100%;
    height: auto;
  }

  .blog-details .single-post-inner .post-content h2{
    font-size: 30px;
    line-height: 40px;
  }

  .blog-details .post-banner .outer-box{
    padding-top: 200px;
  }

  .blog-details .post-banner{
    padding-bottom: 50px;
  }

  .blog-details-content .owl-nav{
    display: none;
  }

  .blog-details-content .nav-btn .single-btn-box.prev-btn{
    margin-bottom: 30px;
  }

  .blog-details-content .author-box .author-content{
    padding-left: 30px;
  }

  .blog-details-content .author-box .author-content .author-thumb{
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .blog-details-content .author-box .author-content .author-thumb img{
    border-radius: 5px;
  }

  .contact-section{
    padding: 70px 0px 50px 0px;
  }

  .location-section .owl-dots{
    display: none;
  }

  .location-section{
    padding: 70px 0px;
  }

  .small-column .project-block-one{
    max-width: 400px;
    margin: 0 auto;
  }

  .ourcenters-section .owl-nav{
    display: none;
  }

  .news-block-one .inner-box .lower-content .post-date{
    float: none;
  }

  .banner-carousel .content-inner h3{
    font-size: 26px;
    line-height: 36px;
  }


}

@media only screen and (max-width: 599px){

  .blog-details-content .comment-box .comment.replay-comment{
    margin-left: 0px;
  }

  .blog-details-content .comments-form-area{
    padding-left: 30px;
    padding-right: 30px;
  }

  .banner-carousel .content-inner:before{
    border-radius: 0px;
  }

  .banner-carousel .content-inner{
    border-radius: 15px;
    height: auto;
    padding-top: 45px;
    padding-bottom: 50px;
    display: block;
  }

  .workspace-section .single-item .inner-box{
    padding-bottom: 0px;
  }

  .workspace-section .outer-container{
    padding-bottom: 55px;
  }

  .image_block_1 .image-box{
    margin-right: 0px;
  }

  .amenities-section .single-column:nth-child(9) .single-item .inner-box,
  .amenities-section .single-column:nth-child(2) .single-item .inner-box{
    height: auto;
    min-height: auto;
    padding: 0px 15px;
  }

  .amenities-section .single-item .link-box{
    padding: 0px;
  }

  .main-footer .list-widget .shape{
    display: none;
  }

  .events-details .form-inner{
    padding-left: 30px;
    padding-right: 30px;
  }

  .project-details-content .project-info ul li{
    width: 100%;
  }

  .error-section .content-box h1{
    font-size: 150px;
    line-height: 150px;
  }

  .project-tab .tab-btn-box{
    margin-bottom: 30px;
  }

  .workspaces-details-content .tabs-box .tab-btns li{
    width: 100%;
    border: none;
    text-align: center;
  }

  .workspaces-details-content .tabs-box .tab-btns li:nth-child(2){
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .contact-section .form-inner{
    padding-left: 30px;
    padding-right: 30px;
  }


}


@media only screen and (max-width: 499px){

  .mobile-menu{
    width: 100%;
  }

  .header-top .info li,
  .header-top .right-column ul li{
    float: none;
  }

  .header-top .right-column ul li{
    margin: 0px 10px;
  }

  .search-box-outer{
    display: none;
  }

  .banner-carousel .content-inner{
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-top .info li:before,
  .header-top .right-column .other-links:before{
    display: none;
  }

  .image_block_1 .image-box{
    padding: 0px;
  }

  .image_block_1 .image-box .image-shape{
    display: none;
  }

  .image_block_1 .image-box .image-2{
    position: relative;
    margin-top: 30px;
  }

  .image_block_1 .image-box .curve-text{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .content_block_1 .content-box .inner-box .single-item .link{
    position: relative;
    right: 0px;
    top: 0px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .center-block-one .inner-box .content-box{
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .workspaces-block-one .inner-box .othre-options .pull-right li{
    margin-right: 10px;
  }

  .testimonial-block-one .inner-box .overlay-quote,
  .testimonial-block-one .inner-box .quote{
    display: none;
  }

  .testimonial-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .booking-section .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .cta-section .inner-box .theme-btn{
    width: 100%;
    margin: 0px;
  }

  .cta-section .inner-box .phone{
    margin-bottom: 10px;
  }

  .workspaces-block-two .inner-box .lower-box .text{
    float: none;
  }

  .workspaces-block-two .inner-box .lower-box .link{
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: 15px;
  }

  .video-section .big-text{
    margin-bottom: 60px;
  }

  .weare-section .image-box .pattern-layer{
    display: none;
  }

  .find-section .inner-box .list li,
  .clients-style-two .logo-list li{
    width: 100%;
  }

  .clients-style-two .logo-list li:nth-child(6), 
  .clients-style-two .logo-list li:nth-child(7), .clients-style-two .logo-list li:nth-child(8), 
  .clients-style-two .logo-list li:nth-child(9), .clients-style-two .logo-list li:last-child{
    padding-top: 0px;
  }

  .clients-style-two{
    padding-bottom: 30px;
  }

  .main-footer.style-two .links-widget .widget-content li{
    width: 100%;
  }

  .about-style-two .image-box{
    padding: 0px;
  }

  .about-style-two .image-box .text{
    position: relative;
    width: 100%;
  }

  .about-style-two .image-box .text-1{
    top: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-style-three .image-box{
    padding: 0px;
  }

  .about-style-three .image-box .pattern-layer{
    display: none;
  }

  .about-style-three .image-box .image-2{
    position: relative;
    bottom: 0px;
    margin: 30px 0px;
  }

  .about-style-three .image-box .image-3{
    position: relative;
    left: 0px;
  }

  .about-style-three .image-box .curve-text{
    position: relative;
    right: 0px;
    width: 150px;
    margin: 0 auto;
  }

  .service-level-section .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .service-level-section .outer-container{
    padding: 70px 0px;
  }

  .project-details-content .nav-btn .single-btn-box.next-btn{
    padding-left: 30px;
  }

  .comingsoon-section .content-box h2{
    font-size: 70px;
    line-height: 70px;
  }

  .comingsoon-section .subscribe-inner .form-inner .form-group{
    padding-right: 0px;
  }

  .comingsoon-section .subscribe-inner .form-inner .form-group button{
    position: relative;
    width: 100%;
    margin-top: 15px;
  }

  .workspaces-page-section .short-box .text{
    float: none;
    display: block;
    text-align: center;
  }
  .workspaces-page-section .short-box .category-box{
    max-width: 220px;
    margin: 0 auto;
    float: none;
  }

  .workspaces-details-content .details-content-box .content-three .feature-list li{
    width: 100%;
  }

  .workspaces-details-content .tabs-box .inner-box .lower-box h5{
    float: none;
  }

  .workspaces-details-content .tabs-box .inner-box .lower-box a{
    float: none;
  }

  .blog-details-content blockquote{
    padding-right: 65px;
  }

  .blog-details-content .comment-box .comment .comment-info .post-date{
    position: relative;
  }

  .contact-section .inner-box .image-box .text{
    left: 0px;
    bottom: 0px;
  }


  
}


@media only screen and (max-width: 399px){

  .main-header .outer-box{
    padding-left: 15px;
    padding-right: 15px;
  }

  .default-form .form-group .theme-btn{
    padding: 16px 20px;
  }

  .workspaces-sidebar .price-filter .price-range li{
    width: 85px;
  }

  .news-block-two .inner-box .option-box .admin{
    margin-bottom: 10px;
  }

  .blog-details .post-banner .outer-box .inner-box .option-box .admin{
    margin-bottom: 10px;
  }

  .blog-details-content .author-box .author-content .author-thumb{
    width: 100%;
  }

  .blog-details-content .author-box .author-content .author-thumb img{
    width: 100%;
  }

  .contact-section .inner-box .image-box .text{
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: relative;
    margin: 30px 0px;
  }

  .contact-section{
    padding-bottom: 0px;
  }

  .location-section .single-item .lower-content{
    padding-left: 25px;
    padding-right: 25px;
  }

  .location-section .single-item .lower-content .info li{
    padding-left: 55px;
  }

  .location-section .single-item .lower-content .info li{
    font-size: 16px;
  }


}